/***********************************************/
/*                FONT-FACES                  */
/*********************************************/

@font-face {
  font-family: "varGrounded";
  src: url("fonts/VAGRoundedStd-Thin.woff2") format("woff2"),
    url("fonts/VAGRoundedStd-Thin.otf") format("opentype");
  font-weight: thin;
}

@font-face {
  font-family: "varGrounded";
  src: url("fonts/VAGRoundedStd-Bold.woff2") format("woff2"),
    url("fonts/VAGRoundedStd-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "varGrounded";
  src: url("fonts/VAGRoundedBT-Regular.woff2") format("woff2"),
    url("fonts/VAGRoundedBT-Regular.otf") format("opentype");
  font-weight: normal;
}



/***********************************************/
/*              COMMON STYLE                  */
/*********************************************/

body {
  font-family: varGrounded;
  font-weight: normal;
  background-color: #ffcc55;
  overflow-x: hidden;
}

.container {
  display: block;
  width: 100vw;
  height: 100vh;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.4em;
}

.link--see-more {
  margin-right: 5px;
}

/********** BEAR HEADLINE **********/

@keyframes bounce--bear {
  from {
    bottom: -14px;
  }
  50% {
    bottom: 0px;
  }
  to {
    bottom: -14px;
  }
}

.headline--bear {
  font-size: 20px;
  position: relative;
  width: 100%;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.headline--bear::before {
  position: absolute;
  height: 5px;
  width: 100%;
  content: "";
  display: block;
  bottom: -10px;
  background-color: #000;
}

.headline--bear::after {
  position: absolute;
  height: 62px;
  width: 35px;
  bottom: -14px;
  content: "";
  display: block;
  background-image: url(../images/SVG/bear.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.headline--bear--right::after {
  right: 10px;
}
.headline--bear--left::after {
  left: 10px;
}

.headline--bear--right:hover::after,
.headline--bear--left:hover::after {
  animation: bounce--bear 0.4s ease;
}

.wrap--main {
  max-width: 1000px;
  margin: 0 auto;
}

.section--article,
.section--products,
.section--overview--article,
.section--overview--products {
  padding: 20vw 10px 40px 10px;
}

.overview--products__box,
.overview--articles__box,
.articles__box,
.product__box {
  border: solid black 5px;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 15px;
  display: block;
}

.section--article,
.section--products--full {
  background-color: #ffcc55;
  overflow-x: hidden;
}

.site--article .header,
.site--produit .header {
  margin-bottom: 100%;
}

@media screen and (max-width: 719px) {
  .section--article,
  .section--products--full {
    min-height: 80vh;
  }
}

@media screen and (min-width: 720px) {
  .section--article,
  .section--products,
  .section--overview--article,
  .section--overview--products {
    padding: 100px 30px 100px 30px;
  }

  .headline--bear {
    font-size: 2em;
  }

  .section--products, .section--article {
    padding: 120px 10px 100px 10px;
  }

  .product__box, .articles__box {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1366px) {
  .section--products, .section--article {
    padding: 190px 10px 100px 10px;
  }

  .product__box, .articles__box {
    padding-top: 50px;
  }
}


/***********************************************/
/*                  HEADER                    */
/*********************************************/

.header h1 {
  display: none;
  text-indent: -12000px;
}

.header {
  display: flex;
  position: fixed;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  z-index: 20;
  background-color: #ffcc55;
  padding: 2vh;
}

.header__logo {
  width: 40%;
}

.header__nav {
  position: fixed;
  height: 48px;
  bottom: 19px;
  left: calc(100vw - 67px);
  right: 19px;
  overflow: hidden;
  border-radius: 25px;
  border: 0px solid #000000;
  background-color: #ffffff;
  transition: left 0.4s ease, height 0.4s ease, bottom 0.4s ease,
    border 0.4s ease, border-radius 0.4s ease;
}

.header__nav.is-open {
  height: 30vh;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: #fff;
  border: 4px solid #000000;
  border-radius: 0;
}

.header__nav__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.3em;
  width: 90vw;
  height: 30vh;
}

.header__nav.is-open .header__nav__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.3em;
  width: calc(90vw - 15px);
  height: 30vh;
  opacity: 1;
}

.header__nav.is-open .header__nav__icon {
  transform: translateX(-10px) translateY(-10px);
}

.header__nav__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 15px;
  right: 15.5px;
  width: 50px;
  height: 50px;
  border: 3px #000 solid;
  background-color: #ffcc55;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.header__nav__icon__element {
  width: 30px;
  height: 5px;
  display: block;
  background-color: #000000;
  position: relative;
  transition: transform 0.3s ease, margin 0.3s ease;
}
.header__nav__icon__element::after,
.header__nav__icon__element::before {
  width: 30px;
  height: 5px;
  display: block;
  background-color: #000000;
}

.header__nav__icon__element::before {
  content: "";
  position: absolute;
  top: -10px;
}
.header__nav__icon__element::after {
  content: "";
  position: absolute;
  bottom: -10px;
}

.header__nav.is-open .header__nav__icon__element::after {
  opacity: 0;
}

.header__nav.is-open .header__nav__icon__element {
  transform-origin: center bottom;
  transform: rotate(-45deg);
  margin-left: 3px;
}

.header__nav.is-open .header__nav__icon__element::before {
  transform-origin: center bottom;
  transform: rotate(90deg);
  margin-top: 8px;
  margin-left: -2px;
}

@media screen and (min-width: 720px) {
  .header {
    width: 100vw;
    padding: 2.5vw 4vw 1.5vw 4vw;
    justify-content: unset;
  }

  .header__logo {
    width: 15%;
  }

  .header__nav {
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    background-color: transparent;
  }

  .header__nav__content {
    flex-direction: row;
    height: auto;
    justify-content: flex-end;
    width: auto;
    align-items: center;
  }

  .header__nav__content li {
    padding: 2.5vw 4vw;
    font-size: 1.4em;
  }

  .header__nav__content li:last-of-type {
    margin-right: 4vw;
  }

  .header__nav__icon {
    display: none;
  }
}

@media screen and (min-width: 1366px) {
  .header__logo {
    width: 10%;
  }

  .header {
    width: 100vw;
    padding: 2.5vw 4vw 1.5vw 4vw;
  }
}



/***********************************************/
/*                  FOOTER                    */
/*********************************************/

.footer {
  background-color: #ffcc55;
}

.footer__content {
  border-top: solid black 3px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.8em;
}

.footer__logo {
  width: 40%;
  margin-top: 5px;
  max-width: 300px;
}

@media screen and (max-width: 719px) {
  .footer__content {
    padding: 20px 80px 20px 10px;
  }
}

@media screen and (min-width: 720px) {
  .footer__content {
    padding: 20px;
  }
}

.social__icons {
  display: flex;
  margin-top: 5px;
}

.social__icons__icon {
  width: 30px;
  height: 30px;
  display: block;
  overflow: hidden;
  margin-right: 5px;
  text-indent: -1000px;
  background-image: url(../images/SVG/sprite--social.svg);
  background-repeat: no-repeat;
  background-size: 90px;
  transition: all 0.2s;
}

.social__icons__icon:hover {
  background-color: #fff;
  border-radius: 5px;
}

.social__icons__icon--facebook {
  background-position: -60px;
}
.social__icons__icon--instagram {
  background-position: -30px;
}
.social__icons__icon--twitter {
  background-position: 0px;
}


/***********************************************/
/*                 HOMEPAGE                   */
/*********************************************/

.intro {
  height: 100vh;
  width: 100vw;
  background-color: #ffcc55;
  position: relative;
}

.intro__text {
  position: absolute;
  bottom: -80px;
  font-size: 1.5em;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.intro__content {
  position: relative;
}

.intro__content__illustations-box {
  height: 68vh;
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.intro__content__illustations {
  position: absolute;
  width: 40%;
  bottom: 0;
  opacity: 0;
}

.intro__content__illustations--ourson {
  left: 0;
  animation: bounce--intro 1s linear forwards;
}
@keyframes bounce--intro {
  from {
    opacity: 0;
    bottom: 1000px;
  }
  25% {
    opacity: 1;
  }
  50% {
    bottom: 0px;
  }
  65% {
    bottom: 40px;
  }
  80% {
    bottom: 0px;
  }
  90% {
    bottom: 20px;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
.intro__content__illustations--reglisse {
  width: 80%;
  bottom: 15px;
  left: 10%;
  opacity: 0;
  animation: bounce--intro 1s linear 0.3s forwards;
}
.intro__content__illustations--marshmallow {
  right: 0;
  width: 50%;
  opacity: 0;
  animation: bounce--intro 1s linear 0.6s forwards;
}

.overview--products__box:last-child,
.overview--articles__box:last-child {
  margin-bottom: 0px;
}

.overview--products__box,
.section--overview--article {
  background-color: #ffcc55;
}

.overview--products__box__image {
  width: 70%;
  margin-left: 30%;
  transform: scale(1);
  transition: transform 0.2s;
}

.overview--products__box:hover .overview--products__box__image {
  transform: scale(1.05);
}

.overview--articles__box__text-box__headline,
.overview--articles__box__text-box__text {
  margin-bottom: 15px;
}

.overview--articles__box__text-box {
  margin: 25px 15px 30px 15px;
}

.overview--articles__box__text-box__link {
  transition: all 0.3s;
  margin-left: 0px;
}

.overview--articles__box__text-box__link:hover {
  margin-left: 10px;
}

.section--overview--products {
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .intro__content__illustations-box {
    width: 50%;
  }
  .intro__text {
    font-size: 2.5em;
    bottom: -110px;
  }

  .overview--products {
    display: flex;
    justify-content: space-between;
  }
  .overview--products__box {
    width: 26%;
    height: 200px;
  }

  .overview--products__box__image {
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
  }

  .overview--products__box__headline {
    text-align: center;
  }

  .overview--articles__box {
    display: flex;
    align-items: flex-start;
  }

  .overview--articles__box__image {
    width: 50%;
    margin-right: 20px;
  }

  .overview--articles__box__text-box__headline {
    font-size: 1.3em;
    margin-top: 30px;
  }

  .overview--products__box:last-child,
  .overview--articles__box:last-child {
    margin-bottom: auto;
  }
}

@media screen and (min-width: 1366px) {
  .intro__content__illustations-box {
    width: 25%;
  }
  .intro__text {
    bottom: -130px;
    max-width: 50%;
    margin-left: 25%;
  }
  .overview--products__box__image--ourson {
    margin-top: 44px;
  }

  .overview--articles {
    display: flex;
    justify-content: space-between;
  }
  .overview--articles__box {
    width: 45%;
  }
  .overview--products__box__headline {
    font-size: 1.4em;
  }
  .overview--articles__box__image {
    min-width: 225px;
  }
}

/***********************************************/
/*                 PRODUCTS                   */
/*********************************************/

/********** FOR ALL PRODUCTS **********/

.product__image {
  width: 70%;
  transition: transform 1s ease;
}

.product__image--box {
  position: relative;
}

.product__box--absolute {
  position: absolute;
  left: 114%;
  right: -700px;
  top: 0;
  transition: left 1s ease, right 1s ease;
}

.product__box--absolute.is-open {
  left: 0%;
  right: 0%;
}

.product__image.is-open {
  opacity: 0;
  transform: translateX(-1500px);
}

@keyframes ingredient {
  0%{
      transform: rotate(0deg);
  }

  60% {
      transform: rotate(0deg);
  }

  70% {
      transform: rotate(25deg);
  }
  
  80% {
      transform: rotate(-25deg);
  }

  90% {
      transform: rotate(25deg);
  }

  100% {
      transform: rotate(0deg);
  }
}

.product__box--ingredient {
  position: relative;
  background-color: #fdebf5;
  padding: 25px;
  padding-left: 45px;
  z-index: 1;
}

.product__text--ingredient::before {
  position: absolute;
  content: "";
  display: block;
  background-position: center;
  width: 128px;
  background-size: 200%;
  height: 137px;
  background-image: url(../images/chamallow.png);
  left: -100px;
  top: 0;
  z-index: 0;
  animation: ingredient 5s ease infinite;
}

.product__text--anecdote::before {
  content: "";
  display: block;
  background-image: url(../images/SVG/icon--funfact.svg);
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 10px;
  animation: blink 1s 2 forwards;
}

.product__text--ingredient::after {
  position: absolute;
  content: "";
  display: block;
  background-position: center;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url(../images/SVG/icon--ingredients.svg);
  top: 90px;
  left: -70px;
  z-index: 0;
}

@media screen and (min-width: 720px) {
  .product__box--ingredient {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1366px) {
  .product__box--ingredient {
    padding-right: 300px;
  }
}

@keyframes blink {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.5);
    opacity: 1;
  }
}

@media screen and (min-width: 720px){
  .product__box--absolute {
    position: initial;
  }
  .product__text--ingredient::before,
  .product__text--ingredient::after {
    display: none;
  }
  .product__box {
    position: relative;
  }
  .product__text--anecdote {
    position: absolute;
  }
}


/**********  PRODUCT 1 - Marshmallows **********/

.product--1 .product__text--ingredient::before {
  width: 128px;
  background-size: 200%;
  height: 137px;
  background-image: url(../images/chamallow.png);
}


@media (min-width: 720px) {
  .product--1 .product__image {
    width: 38%;
  }

  .product--1 .product__box--ingredient {
    margin-top: -7px;
    bottom: 2px;
  }

  .product--1 .product__text--anecdote{
    width: 55%;
    top: 20%;
    right: 35px;
  }
}

@media (min-width: 1366px) {
  .product--1 .product__box--ingredient {
    bottom: 17px;
  }
}

/**********  PRODUCT 2 - Réglisses **********/

.product--2 .product__image.product__image--2 {
  width: 100%;
  margin-left: -45px;
}
.product--2 .product__text--ingredient::before {
  width: 128px;
  background-size: 147px;
  height: 137px;
  background-image: url(../images/reglisse1.png);
  left: -100px;
  top: 0;
}


@media (min-width: 720px) {

  .product--2 .product__image.product__image--2 {
    width: 55%;
    margin-left: -58px;
  }

  .product--2 .product__box--ingredient {
    margin-top: 20px;
  }
}

@media (min-width: 1366px) {
  .product--2 .product__text--anecdote {
    width: 40%;
    top: 20%;
    right: 95px;
  }
}

/**********  PRODUCT 3 - Ourson **********/


.product--3 .product__text--ingredient::before {
  width: 128px;
  background-size: 105%;
  height: 137px;
  background-image: url(../images/oursons.png);
}


@media screen and (min-width: 720px) {
  .product--3 .product__image {
    width: 30%;
    margin-left: 22px;
  }

  .product--3 .product__text--anecdote {
    top: 17%;
    width: 55%;
    right: 50px;
  }

  .product--3 .product__box--ingredient {
    margin-top: 20px;
  }

}

@media screen and (min-width: 1366px) {
  .product--3 .product__text--anecdote {
    width: 40%;
    top: 20%;
    right: 95px;
  }

  .product--3 .product__image {
    margin-left: 40px;
  }
}

/***********************************************/
/*                 ARTICLES                   */
/*********************************************/

/************  FOR ALL ARTICLES ************/

.article__headline{
  max-width: 600px;
}

.section--figure {
  margin-bottom: 15px;
}

.article__content__text {
  font-size: 14px;
  margin-bottom: 15px;
}

.article__content__text__subtitle {
  font-size: 16px;
  text-decoration: underline;
  font-style: italic;
  padding: 20px 0;
}

.article__content__image-box__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0.4px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
}

.article__content__image-box__description {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;
}

.article__link--next {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.fa-arrow-right {
  margin-left: 2px;
}

.fa-arrow-left {
  margin-right: 2px;
}

@media (min-width: 500px) {
  .br--visible--xs {
    display: none;
  }
}

@media (min-width: 720px) {
  .article__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "image-odd text-odd"
      "text-even image-even"
      "image-3 text-3";

    grid-gap: 5px;
  }

  .article__headline {
    font-size: 30px;
  }

  .article__content__text {
    font-size: 20px;
  }

  .article__content__image-box:nth-of-type(1) {
    grid-area: image-odd;
  }

  .article__content__text:nth-of-type(1) {
    grid-area: text-odd;
    padding-left: 40px;
  }

  .article__content__image-box:nth-of-type(2) {
    grid-area: image-even;
    margin-top: 45px;
  }

  .article__content__text:nth-of-type(2) {
    grid-area: text-even;
    padding-right: 40px;
    margin-top: 45px;
  }

  .article__content__image-box:nth-of-type(3) {
    grid-area: image-3;
    margin-top: 45px;
  }

  .article__content__text:nth-of-type(3) {
    grid-area: text-3;
    padding-left: 40px;
  }

  .article__content__text:last-child {
    margin-top: 45px;
  }

  .article__content__text__subtitle {
    font-size: 22px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1366px) {
  .article__content__text {
    font-size: 28px;
  }
  .article__headline {
    font-size: 35px;
  }

  .article__content__text__subtitle {
    font-size: 30px;
  }

}

/************  ARTICLE 1 ************/

@keyframes arrow-to-left {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0)
  }
}

.arrow__to__left:hover {
  animation: arrow-to-left 2s;
}


/************  ARTICLE 2 ************/

.article__content__image-box__description__icon {
  width: 20px;
  height: 20px;
  padding-left: 5px;
}


@keyframes arrow-to-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0)
  }
}

.arrow__to__right:hover {
  animation: arrow-to-right 2s;
}