@font-face {
  font-family: "varGrounded";
  src: url("fonts/VAGRoundedStd-Thin.woff2") format("woff2"),
    url("fonts/VAGRoundedStd-Thin.otf") format("opentype");
    font-weight: thin;
}

@font-face {
  font-family: "varGrounded";
  src: url("fonts/VAGRoundedStd-Bold.woff2") format("woff2"),
    url("fonts/VAGRoundedStd-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
  font-family: "varGrounded";
  src: url("fonts/VAGRoundedBT-Regular.woff2") format("woff2"),
    url("fonts/VAGRoundedBT-Regular.otf") format("opentype");
    font-weight: normal;
}

body {
  font-family: varGrounded;
  font-weight: normal;
  background-color: #F7C563;
  overflow-x: hidden;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  color:#000;
}


/********************* HEADER *********************/

.container{
  display: block;
  width: 100vw;
  height: 100vh;
}

.header h1{
  text-indent: -12000px;
}

.header{
  display: flex;
  position: fixed;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  z-index: 20;
  background-color: #ffcc55;
  padding: 2vh;
}

.header__logo{
  width: 40%;
}

.header__nav{
  position: fixed;
  height: 48px;
  bottom: 19px;
  left: calc(100vw - 67px);
  right: 19px;
  overflow: hidden;
  border-radius: 25px;
  border: 0px solid #000000;
  background-color: #ffffff;
  transition: left 0.8s ease, height 0.8s ease, bottom 0.8s ease, border 0.8s ease, border-radius 0.8s ease;
}

.header__nav.is-open{
  height: 30vh;
  bottom: 10px;
  left: 10px;
  right : 10px;
  background-color: #fff;
  border: 4px solid #000000;
  border-radius: 0;
}

.header__nav__content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.3em;
  width: 90vw;
  height: 30vh;
}

.header__nav.is-open .header__nav__content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.3em;
  width: calc(90vw - 15px);
  height: 30vh;
  opacity: 1;
}

.header__nav.is-open .header__nav__icon{
  transform: translateX(-10px) translateY(-10px);
}

.header__nav__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 15px;
  right: 15.5px;
  width: 50px;
  height: 50px;
  border: 3px #000 solid;
  background-color: #ffcc55;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.header__nav__icon__element{
  width: 30px;
  height: 5px;
  display: block;
  background-color: #000000;
  position: relative;
  transition: transform 0.3s ease, margin 0.3s ease;
}
.header__nav__icon__element::after, .header__nav__icon__element::before{
  width: 30px;
  height: 5px;
  display: block;
  background-color: #000000;
}

.header__nav__icon__element::before{
  content: "";
  position: absolute;
  top: -10px;
}
.header__nav__icon__element::after{
  content: "";
  position: absolute;
  bottom: -10px;
}

.header__nav.is-open .header__nav__icon__element::after{
  opacity: 0;
}

.header__nav.is-open .header__nav__icon__element{
  transform-origin: center bottom;
  transform: rotate(-45deg);
  margin-left: 3px;
}

.header__nav.is-open .header__nav__icon__element::before{
  transform-origin: center bottom;
  transform: rotate(90deg);
  margin-top: 8px;
  margin-left: -2px;
}

@media screen and (min-width: 720px) {
  .header__logo {
    max-width: 200px;
  }
}


/********************* FOOTER *********************/

.footer {
  background-color: #ffcc55;
}

.footer__content {
  border-top: solid black 3px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 80px 20px 10px;
  font-size: 0.8em;
}

.footer__logo {
  width: 40%;
  margin-top: 5px;
  max-width: 300px;
}

.social__icons {
  display: flex;
  margin-top: 5px;
}
.social__icons__icon {
  width: 30px;
  height: 30px;
  display: block;
  overflow: hidden;
  margin-right: 5px;
  text-indent: -1000px;
  background-image: url(../images/SVG/sprite--social.svg);
  background-repeat: no-repeat;
  background-size: 90px;
}

.social__icons__icon--facebook{
  background-position: -60px;
}
.social__icons__icon--instagram{
  background-position: -30px;
}
.social__icons__icon--twitter{
  background-position: 0px;
}


/********************* ALL PAGES *********************/

/* Bear headline */

.headline--bear {
  font-size: 20px;
  position: relative;
  width: 100%;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.headline--bear::before {
  position: absolute;
  height: 5px;
  width: 100%;
  content: "";
  display: block;
  bottom: -10px;
  background-color: #000;
}

.headline--bear::after {
  position: absolute;
  height: 62px;
  width: 35px;
  bottom: -14px;
  content: "";
  display: block;
  background-image: url(../images/SVG/bear.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.headline--bear--right::after {
  right: 10px;
}
.headline--bear--left::after {
  left: 10px;
}

/* ALL */

.wrap--main {
  max-width: 1000px;
  margin: 0 auto;
}

.section--article,
.section--products,
.section--overview--article,
.section--overview--products {
  padding: 20vw 10px 40px 10px;
}

.overview--products__box,
.overview--articles__box,
.articles__box,
.product__box {
  border: solid black 5px;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 15px;
}

.section--article,
.section--products--full {
  background-color: #ffcc55;
  overflow-x: hidden;
  min-height: 80vh;
}

.site--article .header, .site--produit .header{
  margin-bottom: 100%;
}

@media screen and (min-width: 720px) {
  .section--article,
  .section--products,
  .section--overview--article,
  .section--overview--products {
    padding: 100px 10px 100px 10px;
  }
}

/********************* HOMEPAGE *********************/

.intro {
  height: 100vh;
  width: 100vw;
  background-color: #ffcc55;
  position: relative;
}

.intro__text {
  position: absolute;
  bottom: -80px;
  font-size: 1.5em;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.intro__content{
  position: relative;
}

.intro__content__illustations-box {
  height: 68vh;
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.intro__content__illustations {
  position: absolute;
  width: 40%;
  bottom: 0;
}

.intro__content__illustations--ourson {
  left: 0;
}
.intro__content__illustations--reglisse {
  width: 80%;
  bottom: 15px;
  left: 10%;
}
.intro__content__illustations--marshmallow {
  right: 0;
  width: 50%;
}

.overview--products__box:last-child,
.overview--articles__box:last-child {
  margin-bottom: 0px;
}

.overview--products__box,
.section--overview--article {
  background-color: #ffcc55;
}

.overview--products__box__image {
  width: 70%;
  margin-left: 30%;
}

.overview--articles__box__text-box__headline,
.overview--articles__box__text-box__text {
  margin-bottom: 15px;
}

.section--overview--products {
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .intro__content__illustations-box {
    width: 30%;
  }
  .overview--products {
    display: flex;
    justify-content: space-between;
  }
  .overview--products__box {
    width: 28%;
    max-height: 200px;
  }
  .overview--articles__box {
    display: flex;
    align-items: flex-start;
  }

  .overview--articles__box__image {
    width: 50%;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .overview--articles {
    display: flex;
    justify-content: space-between;
  }

  .overview--articles__box {
    width: 45%;
  }
}

@media screen and (max-width: 719px) {
  .overview--articles__box {
    padding: 0px;
  }
  .overview--articles__box__text-box {
    margin: 25px 15px 30px 15px;
  }
}

/********************* PRODUCTS *********************/

/* All products */

.product__image {
  width: 70%;
}

.product__image--box {
  position: relative;
}
.product__box--absolute {
  position: absolute;
  left: 114%;
  top: 0;
  transition: all 0.3s;
}

.product__box--absolute.is-opend {
  left: 0%;
}
.product__image.is-opend {
  opacity: 0;
}

.product__box--ingredient {
  position: relative;
  background-color: #fdebf5;
  padding: 25px;
  padding-left: 45px;
  z-index: 1;
}

.product__text--ingredient::before {
  position: absolute;
  content: "";
  display: block;
  background-position: center;
  width: 128px;
  background-size: 200%;
  height: 137px;
  background-image: url(../images/chamallow.png);
  left: -100px;
  top: 0;
  z-index: 0;
}

.product__text--anecdote::before {
  content: "";
  display: block;
  background-image: url(../images/SVG/icon--funfact.svg);
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 10px;
}

.product__text--ingredient::after {
  position: absolute;
  content: "";
  display: block;
  background-position: center;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url(../images/SVG/icon--ingredients.svg);
  top: 90px;
  left: -70px;
  z-index: 0;
}

/* Produit  1 - Marshmallows */

#product--1 .product__text--ingredient::before {
  width: 128px;
  background-size: 200%;
  height: 137px;
  background-image: url(../images/chamallow.png);
}

/* Produit  2 -  */

/********************* ARTICLE 1 *********************/

figure {
  margin-bottom: 15px;
}

.article__image__description {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin-top: 5px;
}

.article__text {
  font-size: 14px;
  margin-bottom: 15px;
}



.article__image {
  border: 0.4px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
}

.article__next {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.fa-arrow-right {
  margin-left: 2px;
}

.fa-arrow-left {
  margin-right: 2px;
}

.under__title__text {
  font-size: 16px;
  text-decoration: underline;
  font-style: italic;
}
.article__image {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

@media (min-width: 500px) {
  .article__line__return {
    display: none;
  }
}

@media (min-width: 720px) {
  article .content___article__text1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "image-odd text-odd"
      "text-even image-even"
      "image-3 text-3";

    grid-gap: 5px;
  }

  .article__headline {
    font-size: 30px;
  }

  .article__text {
    font-size: 20px;
  }

  .content__image:nth-of-type(1) {
    grid-area: image-odd;
  }

  .article__text:nth-of-type(1) {
    grid-area: text-odd;
    padding-left: 40px;
  }

  .content__image:nth-of-type(2) {
    grid-area: image-even;
    margin-top: 45px;
  }

  .article__text:nth-of-type(2) {
    grid-area: text-even;
    padding-right: 40px;
    margin-top: 45px;
  }

  .content__image:nth-of-type(3) {
    grid-area: image-3;
    margin-top: 45px;
  }

  .article__text:nth-of-type(3) {
    grid-area: text-3;
    padding-left: 40px;
  }

  .article__text:last-child {
    margin-top: 45px;
  }

  .under__title__text {
    font-size: 22px;
  }
}

@media (min-width: 1366px) {
  .article__text {
    font-size: 28px;
  }
  .article__headline {
    font-size: 35px;
  }

  .under__title__text {
    font-size: 30px;
  }

}


/********************* ARTICLE 2 *********************/

.icone__of__description {
  width: 40px;
  height: 40px;
  padding-left: 5px;
}